Repository sibytes/databricks-patterns: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/ad_works.yml, ci/ad_works_dw.yml, ci/ad_works_lt.yml, ci/header_footer.yml

ci/ad_works.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: devevlopmentDeployment
    displayName: Deploy dbx notebooks to Dev
    variables:
    - group: development
    jobs:
    - deployment: deployAdWorksNotebooks
      displayName: Deploy ad_works Notebooks
      environment: development
      strategy:
        runOnce:
  ...

ci/ad_works_dw.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: devevlopmentDeployment
    displayName: Deploy dbx notebooks to Dev
    variables:
    - group: development
    jobs:
    - deployment: deployAdWorksDWNotebooks
      displayName: Deploy ad_works_dw Notebooks
      environment: development
      strategy:
  ...

ci/ad_works_lt.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: devevlopmentDeployment
    displayName: Deploy dbx notebooks to Dev
    variables:
    - group: development
    jobs:
    - deployment: deployAdWorksLtNotebooks
      displayName: Deploy ad_works_lt Notebooks
      environment: development
      strategy:
  ...

ci/header_footer.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: devevlopmentDeployment
    displayName: Deploy dbx notebooks to Dev
    variables:
    - group: development
    jobs:
    - deployment: deployHeaderFooterNotebooks
      displayName: Deploy header_footer Notebooks
      environment: development
      strategy:
  ...

metadata upgrade
  header_footer/databricks/notebooks/bronze/etl/_load.py
  header_footer/databricks/notebooks/bronze/etl/_load_audit.py
  header_footer/sql/yetl_control_header_footer/base_audit.sql
  header_footer/sql/yetl_control_header_footer/raw_audit.sql
Due: ci/header_footer.yml

metadata upgrade
  header_footer/databricks/notebooks/bronze/etl/_load.py
Due: ci/header_footer.yml

Upgrading metadata columns
  header_footer/sql/yetl_control_header_footer/header_footer.sql
Due: ci/header_footer.yml

fixing drop if already loaded
  header_footer/databricks/notebooks/bronze/etl/_load.py
  header_footer/databricks/notebooks/bronze/etl/_load_header_footer.py
  header_footer/databricks/notebooks/bronze/load_table.py
Due: ci/header_footer.yml

metadata upgrade
  ad_works/databricks/notebooks/bronze/create_schema.py
  ad_works/databricks/notebooks/bronze/etl/_load.py
  ad_works/databricks/notebooks/bronze/etl/_load_audit.py
  ad_works/databricks/notebooks/bronze/load_table.py
  ad_works/databricks/notebooks/bronze/raw_load.py
  ad_works/sql/yetl_control_ad_works/raw_audit.sql
Due: ci/ad_works.yml

metadata upgrade header_footer_uc
  ad_works_dw/sql/yetl_control_ad_works_dw/raw_audit.sql
  ad_works_lt/sql/yetl_control_ad_works_lt/base_audit.sql
  ad_works_lt/sql/yetl_control_ad_works_lt/raw_audit.sql
  header_footer_uc/databricks/notebooks/bronze/etl/_load.py
  header_footer_uc/databricks/notebooks/bronze/etl/_load_audit.py
  header_footer_uc/databricks/notebooks/bronze/etl/_load_header_footer.py
  header_footer_uc/sql/yetl_control_header_footer_uc/base_audit.sql
  header_footer_uc/sql/yetl_control_header_footer_uc/header_footer.sql
  header_footer_uc/sql/yetl_control_header_footer_uc/raw_audit.sql
Due: ci/ad_works_dw.yml, ci/ad_works_lt.yml

metadata upgrade ad_works dw
  ad_works/databricks/notebooks/bronze/etl/_load_audit.py
  ad_works_dw/databricks/notebooks/bronze/create_schema.py
  ad_works_dw/databricks/notebooks/bronze/etl/_load.py
  ad_works_dw/databricks/notebooks/bronze/etl/_load_audit.py
  ad_works_dw/databricks/notebooks/bronze/load_table.py
  ad_works_dw/databricks/notebooks/bronze/raw_load.py
Due: ci/ad_works.yml, ci/ad_works_dw.yml

metadata upgrade ad_works lt
  ad_works_lt/databricks/notebooks/bronze/create_schema.py
  ad_works_lt/databricks/notebooks/bronze/etl/_load.py
  ad_works_lt/databricks/notebooks/bronze/etl/_load_audit.py
  ad_works_lt/databricks/notebooks/bronze/load_table.py
  ad_works_lt/databricks/notebooks/bronze/raw_load.py
  ad_works_lt/databricks/notebooks/silver/create_audit_tables.py
  ad_works_lt/databricks/notebooks/silver/etl/_load.py
  ad_works_lt/databricks/notebooks/silver/etl/_load_audit.py
  ad_works_lt/databricks/notebooks/silver/load_base.py
  ad_works_lt/databricks/notebooks/silver/load_table.py
Due: ci/ad_works_lt.yml

upgrade clusters
  ad_works/databricks/workflows/load_raw_ad_works.json
  ad_works_dw/databricks/workflows/load_raw_ad_works_dw.json
  ad_works_lt/databricks/workflows/load_raw_ad_works_lt.json
  header_footer_uc/databricks/workflows/load_raw_header_footer_uc.json
Due: ci/ad_works.yml, ci/ad_works_dw.yml, ci/ad_works_lt.yml

migrating landing to volumes
  header_footer_uc/databricks/notebooks/clear_down.py
  header_footer_uc/databricks/notebooks/setup.py
Due: none

upgrading to unity catalog and volumes
  header_footer_uc/databricks/notebooks/bronze/create_audit_tables.py
  header_footer_uc/databricks/notebooks/clear_down.py
  header_footer_uc/databricks/notebooks/setup.py
Due: none

release 2.0
  ad_works/databricks/notebooks/bronze/create_audit_tables.py
  ad_works/databricks/notebooks/bronze/create_schema.py
  ad_works/databricks/notebooks/bronze/load_table.py
  ad_works/databricks/notebooks/bronze/raw_load.py
  ad_works_dw/databricks/notebooks/bronze/create_audit_tables.py
  ad_works_dw/databricks/notebooks/bronze/create_schema.py
  ad_works_dw/databricks/notebooks/bronze/load_table.py
  ad_works_dw/databricks/notebooks/bronze/raw_load.py
  ad_works_lt/databricks/notebooks/bronze/create_audit_tables.py
  ad_works_lt/databricks/notebooks/bronze/create_schema.py
  ad_works_lt/databricks/notebooks/bronze/load_table.py
  ad_works_lt/databricks/notebooks/bronze/raw_load.py
  ad_works_lt/databricks/notebooks/load_dlt.py
  ad_works_lt/databricks/notebooks/silver/create_audit_tables.py
  ad_works_lt/databricks/notebooks/silver/load_base.py
  ad_works_lt/databricks/notebooks/silver/load_table.py
  header_footer/databricks/notebooks/bronze/create_audit_tables.py
  header_footer/databricks/notebooks/bronze/load_table.py
  header_footer/databricks/notebooks/bronze/raw_load.py
  header_footer_uc/databricks/notebooks/bronze/load_table.py
  header_footer_uc/databricks/notebooks/bronze/raw_load.py
Due: ci/ad_works.yml, ci/ad_works_dw.yml, ci/ad_works_lt.yml, ci/header_footer.yml

sync
  ad_works/databricks/notebooks/bronze/raw_load.py
  ad_works_dw/databricks/notebooks/bronze/raw_load.py
  ad_works_lt/databricks/notebooks/bronze/raw_load.py
  ad_works_lt/databricks/notebooks/load_dlt.py
  ad_works_lt/databricks/notebooks/silver/load_base.py
  header_footer/databricks/notebooks/bronze/raw_load.py
  header_footer_uc/databricks/notebooks/bronze/raw_load.py
Due: ci/ad_works.yml, ci/ad_works_dw.yml, ci/ad_works_lt.yml, ci/header_footer.yml

data catalog volume migration
  header_footer_uc/databricks/notebooks/bronze/create_audit_tables.py
  header_footer_uc/databricks/notebooks/bronze/load_table.py
  header_footer_uc/databricks/notebooks/bronze/raw_load.py
  header_footer_uc/databricks/notebooks/clear_down.py
  header_footer_uc/databricks/notebooks/setup.py
  header_footer_uc/logging.yaml
  header_footer_uc/pipelines/autoloader.yaml
  header_footer_uc/pipelines/batch.yaml
  header_footer_uc/pipelines/tables.yaml
Due: none

out of order loading project
  ooo_loading/data/balance_20230101.csv
  ooo_loading/data/balance_20230102.csv
  ooo_loading/data/balance_20230103.csv
  ooo_loading/data/balance_20230104.csv
  ooo_loading/data/balance_20230105.csv
  ooo_loading/data/balance_20230106.csv
  ooo_loading/data/balance_20230107.csv
  ooo_loading/data/balance_20230108.csv
  ooo_loading/data/balance_20230109.csv
  ooo_loading/data/balance_20230110.csv
  ooo_loading/logging.yaml
  ooo_loading/ooo_loading.yaml
  ooo_loading/pipelines/json_schema/sibytes_yetl_pipeline_schema.json
  ooo_loading/pipelines/json_schema/sibytes_yetl_project_schema.json
  ooo_loading/pipelines/json_schema/sibytes_yetl_tables_schema.json
  ooo_loading/pipelines/tables.xlsx
  ooo_loading/pipelines/tables.yaml
  ooo_loading/schema/balance.yaml
Due: none

out of order loading project
  ci/header_footer_uc copy.yml
Due: none

out of order loading project
  ci/ooo_loading.yml
Due: none

out of order loading project
  ooo_loading/data/balance_20230102.csv
  ooo_loading/data/balance_20230103.csv
  ooo_loading/data/balance_20230104.csv
  ooo_loading/data/balance_20230105.csv
  ooo_loading/data/balance_20230106.csv
  ooo_loading/data/balance_20230107.csv
  ooo_loading/data/balance_20230108.csv
  ooo_loading/data/balance_20230109.csv
  ooo_loading/schema/balance.yaml
Due: none

merge
  header_footer_uc/databricks/notebooks/bronze/load_table.py
  header_footer_uc/databricks/notebooks/bronze/raw_load.py
Due: none

testing cleanup
  header_footer_uc/databricks/notebooks/bronze/create_audit_tables.py
  header_footer_uc/databricks/notebooks/bronze/etl/_load.py
  header_footer_uc/databricks/notebooks/bronze/raw_load.py
Due: none

config lookup tables fix
  ad_works/databricks/notebooks/bronze/raw_load.py
  ad_works_dw/databricks/notebooks/bronze/create_schema.py
  ad_works_dw/databricks/notebooks/bronze/raw_load.py
  ad_works_lt/databricks/notebooks/bronze/create_schema.py
  ad_works_lt/databricks/notebooks/bronze/raw_load.py
  ad_works_lt/databricks/notebooks/silver/load_base.py
  header_footer/databricks/notebooks/bronze/raw_load.py
  header_footer_uc/databricks/notebooks/bronze/raw_load.py
Due: ci/ad_works.yml, ci/ad_works_dw.yml, ci/ad_works_lt.yml, ci/header_footer.yml

testing and refactoring out of structs
  header_footer_uc/databricks/notebooks/bronze/checks.py
  header_footer_uc/databricks/notebooks/bronze/create_audit_tables.py
  header_footer_uc/databricks/notebooks/bronze/etl/_load.py
  header_footer_uc/databricks/notebooks/bronze/etl/_load_audit.py
  header_footer_uc/databricks/notebooks/bronze/etl/_load_header_footer.py
  header_footer_uc/databricks/notebooks/bronze/load_table.py
  header_footer_uc/databricks/notebooks/setup.py
  header_footer_uc/sql/yetl_control_header_footer_uc/header_footer.sql
Due: none

modularising header loads
  header_footer_uc/databricks/notebooks/bronze/etl/_load_header_footer.py
Due: none

defaulting catalog to hive_metastore
  ad_works/databricks/notebooks/bronze/create_audit_tables.py
  ad_works/databricks/notebooks/bronze/create_schema.py
  ad_works/databricks/notebooks/bronze/load_table.py
  ad_works/databricks/notebooks/bronze/raw_load.py
  ad_works_dw/databricks/notebooks/bronze/create_audit_tables.py
  ad_works_dw/databricks/notebooks/bronze/create_schema.py
  ad_works_dw/databricks/notebooks/bronze/load_table.py
  ad_works_dw/databricks/notebooks/bronze/raw_load.py
  ad_works_lt/databricks/notebooks/bronze/create_audit_tables.py
  ad_works_lt/databricks/notebooks/bronze/create_schema.py
  ad_works_lt/databricks/notebooks/bronze/load_table.py
  ad_works_lt/databricks/notebooks/bronze/raw_load.py
  ad_works_lt/databricks/notebooks/load_dlt.py
  ad_works_lt/databricks/notebooks/silver/create_audit_tables.py
  ad_works_lt/databricks/notebooks/silver/load_base.py
  ad_works_lt/databricks/notebooks/silver/load_table.py
  header_footer/databricks/notebooks/bronze/create_audit_tables.py
  header_footer/databricks/notebooks/bronze/load_table.py
  header_footer/databricks/notebooks/bronze/raw_load.py
  header_footer_uc/databricks/notebooks/bronze/create_audit_tables.py
  header_footer_uc/databricks/notebooks/bronze/load_table.py
  header_footer_uc/databricks/notebooks/bronze/raw_load.py
  ooo_loading/ooo_loading.yaml
  requirements.txt
Due: ci/ad_works.yml, ci/ad_works_dw.yml, ci/ad_works_lt.yml, ci/header_footer.yml

support for clustering
  ad_works/databricks/notebooks/bronze/create_audit_tables.py
  ad_works/databricks/notebooks/bronze/create_schema.py
  ad_works/databricks/notebooks/bronze/load_table.py
  ad_works/databricks/notebooks/bronze/raw_load.py
  ad_works_dw/databricks/notebooks/bronze/create_audit_tables.py
  ad_works_dw/databricks/notebooks/bronze/create_schema.py
  ad_works_dw/databricks/notebooks/bronze/load_table.py
  ad_works_dw/databricks/notebooks/bronze/raw_load.py
  ad_works_lt/databricks/notebooks/bronze/create_audit_tables.py
  ad_works_lt/databricks/notebooks/bronze/create_schema.py
  ad_works_lt/databricks/notebooks/bronze/load_table.py
  ad_works_lt/databricks/notebooks/bronze/raw_load.py
  ad_works_lt/databricks/notebooks/load_dlt.py
  ad_works_lt/databricks/notebooks/silver/create_audit_tables.py
  ad_works_lt/databricks/notebooks/silver/load_base.py
  ad_works_lt/databricks/notebooks/silver/load_table.py
  header_footer/databricks/notebooks/bronze/create_audit_tables.py
  header_footer/databricks/notebooks/bronze/load_table.py
  header_footer/databricks/notebooks/bronze/raw_load.py
  header_footer_uc/databricks/notebooks/bronze/create_audit_tables.py
  header_footer_uc/databricks/notebooks/bronze/load_table.py
  header_footer_uc/databricks/notebooks/bronze/raw_load.py
  requirements.txt
Due: ci/ad_works.yml, ci/ad_works_dw.yml, ci/ad_works_lt.yml, ci/header_footer.yml

setup to volume
  ooo_loading/data/balance/balance_20230101.csv
  ooo_loading/data/balance/balance_20230102.csv
  ooo_loading/data/balance/balance_20230103.csv
  ooo_loading/data/balance/balance_20230104.csv
  ooo_loading/data/balance/balance_20230105.csv
  ooo_loading/data/balance/balance_20230106.csv
  ooo_loading/data/balance/balance_20230107.csv
  ooo_loading/data/balance/balance_20230108.csv
  ooo_loading/data/balance/balance_20230109.csv
  ooo_loading/data/balance/balance_20230110.csv
  ooo_loading/databricks/notebooks/bronze/checks.py
  ooo_loading/databricks/notebooks/bronze/create_audit_tables.py
  ooo_loading/databricks/notebooks/bronze/create_schema.py
  ooo_loading/databricks/notebooks/bronze/load_table.py
  ooo_loading/databricks/notebooks/bronze/raw_load.py
  ooo_loading/databricks/notebooks/bronze/setup.py
  ooo_loading/databricks/notebooks/clear_down.py
  ooo_loading/databricks/notebooks/load_dlt.py
  ooo_loading/databricks/notebooks/setup.py
  ooo_loading/databricks/notebooks/silver/checks.py
  ooo_loading/databricks/notebooks/silver/create_audit_tables.py
  ooo_loading/databricks/notebooks/silver/load_base.py
  ooo_loading/databricks/notebooks/silver/load_table.py
  ooo_loading/manifest.mf
Due: none

ooo autoloader
  ooo_loading/pipelines/autoloader.yaml
  ooo_loading/pipelines/batch.yaml
  ooo_loading/pipelines/json_schema/sibytes_yetl_pipeline_schema.json
  ooo_loading/pipelines/json_schema/sibytes_yetl_tables_schema.json
  ooo_loading/pipelines/tables.xlsx
Due: none

rm dlt ooo
  ooo_loading/databricks/notebooks/load_dlt.py
Due: none

cleaning up
  ooo_loading/databricks/notebooks/bronze/checks.py
  ooo_loading/databricks/notebooks/bronze/create_audit_tables.py
  ooo_loading/databricks/notebooks/bronze/create_schema.py
  ooo_loading/databricks/notebooks/bronze/setup.py
  ooo_loading/databricks/notebooks/silver/checks.py
  ooo_loading/databricks/notebooks/silver/create_audit_tables.py
  ooo_loading/databricks/notebooks/silver/load_base.py
  ooo_loading/databricks/notebooks/silver/load_table.py
Due: none

raw load ooo
  header_footer_uc/databricks/notebooks/bronze/etl/_load.py
  ooo_loading/data/balance/balance_20230109.csv
  ooo_loading/databricks/notebooks/bronze/load_table.py
  ooo_loading/databricks/notebooks/checks.py
  ooo_loading/databricks/notebooks/clear_down.py
  ooo_loading/databricks/notebooks/load_table.py
  ooo_loading/databricks/notebooks/raw_load.py
  ooo_loading/databricks/notebooks/setup.py
  ooo_loading/pipelines/autoloader.yaml
  ooo_loading/pipelines/batch.yaml
  ooo_loading/pipelines/tables.yaml
  ooo_loading/schema/balance.yaml
Due: none

Path conditions:
  ci/ad_works.yml: any of: ad_works
  ci/ad_works_dw.yml: any of: ad_works_dw
  ci/ad_works_lt.yml: any of: ad_works_lt
  ci/header_footer.yml: any of: header_footer
