Repository sibytes/databricks-patterns: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/ad_works.yml, ci/ad_works_dw.yml, ci/ad_works_lt.yml, ci/header_footer.yml, ci/header_footer_uc copy.yml, ci/ooo_loading.yml

ci/ad_works.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: devevlopmentDeployment
    displayName: Deploy dbx notebooks to Dev
    variables:
    - group: development
    jobs:
    - deployment: deployAdWorksNotebooks
      displayName: Deploy ad_works Notebooks
      environment: development
      strategy:
        runOnce:
  ...

ci/ad_works_dw.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: devevlopmentDeployment
    displayName: Deploy dbx notebooks to Dev
    variables:
    - group: development
    jobs:
    - deployment: deployAdWorksDWNotebooks
      displayName: Deploy ad_works_dw Notebooks
      environment: development
      strategy:
  ...

ci/ad_works_lt.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: devevlopmentDeployment
    displayName: Deploy dbx notebooks to Dev
    variables:
    - group: development
    jobs:
    - deployment: deployAdWorksLtNotebooks
      displayName: Deploy ad_works_lt Notebooks
      environment: development
      strategy:
  ...

ci/header_footer.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: devevlopmentDeployment
    displayName: Deploy dbx notebooks to Dev
    variables:
    - group: development
    jobs:
    - deployment: deployHeaderFooterNotebooks
      displayName: Deploy header_footer Notebooks
      environment: development
      strategy:
  ...

ci/header_footer_uc copy.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: devevlopmentDeployment
    displayName: Deploy dbx notebooks to Dev
    variables:
    - group: development
    jobs:
    - deployment: deployHeaderFooterUCNotebooks
      displayName: Deploy header_footer_uc Notebooks
      environment: development
      strategy:
  ...

ci/ooo_loading.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: devevlopmentDeployment
    displayName: Deploy dbx notebooks to Dev
    variables:
    - group: development
    jobs:
    - deployment: deployOutOfOrderLoadingNotebooks
      displayName: Deploy ooo_loading Notebooks
      environment: development
      strategy:
  ...

checkpoint volumes
  ooo_loading/databricks/notebooks/setup.py
  ooo_loading/pipelines/autoloader.yaml
Due: ci/ooo_loading.yml

year fix
  ooo_loading/data/balance/balance_20230105.csv
  ooo_loading/data/balance/balance_20230106.csv
  ooo_loading/data/balance/balance_20230108.csv
  ooo_loading/data/balance/balance_20230110.csv
Due: ci/ooo_loading.yml

dupe
  ooo_loading/data/balance/balance_20230103.csv
Due: ci/ooo_loading.yml

type 2 test
  ooo_loading/databricks/notebooks/load_base.py
  ooo_loading/databricks/notebooks/load_raw.py
  ooo_loading/databricks/notebooks/raw_load.py
  ooo_loading/databricks/notebooks/setup.py
Due: ci/ooo_loading.yml

testing table creation
  ooo_loading/databricks/notebooks/load_base.py
  ooo_loading/databricks/notebooks/load_raw.py
  ooo_loading/databricks/notebooks/setup.py
  ooo_loading/pipelines/tables.yaml
Due: ci/ooo_loading.yml

ad works lt onto catalog
  ad_works_lt/pipelines/autoloader.yaml
  ad_works_lt/pipelines/autoloader_dlt.yaml
  ad_works_lt/pipelines/batch.yaml
  ad_works_lt/pipelines/tables.xlsx
  ad_works_lt/pipelines/tables.yaml
Due: ci/ad_works_lt.yml

ad works lt onto catalog
  requirements.txt
Due: none

refactoring ad_works_lt on to catalog
  ad_works_lt/databricks/notebooks/bronze/create_audit_tables.py
  ad_works_lt/databricks/notebooks/bronze/create_schema.py
  ad_works_lt/databricks/notebooks/bronze/etl/_load.py
  ad_works_lt/databricks/notebooks/bronze/load_table.py
  ad_works_lt/databricks/notebooks/bronze/raw_load.py
  ad_works_lt/databricks/notebooks/bronze/setup.py
  ad_works_lt/databricks/notebooks/clear_down.py
  ad_works_lt/databricks/notebooks/setup.py
  ad_works_lt/sql/control_ad_works_lt/base_audit.sql
  ad_works_lt/sql/control_ad_works_lt/raw_audit.sql
  ooo_loading/databricks/notebooks/setup.py
Due: ci/ad_works_lt.yml, ci/ooo_loading.yml

ad works onto catalog
  ad_works/pipelines/autoloader.yaml
  ad_works/pipelines/batch.yaml
  ad_works_lt/pipelines/autoloader.yaml
  ad_works_lt/pipelines/batch.yaml
Due: ci/ad_works.yml, ci/ad_works_lt.yml

sales order cluster by
  ad_works_lt/pipelines/tables.xlsx
  ad_works_lt/pipelines/tables.yaml
Due: ci/ad_works_lt.yml

sales order cluster by
  ad_works_lt/pipelines/tables.yaml
Due: ci/ad_works_lt.yml

sales order cluster by
  ad_works_lt/databricks/notebooks/bronze/create_audit_tables.py
  ad_works_lt/databricks/notebooks/bronze/create_schema.py
  ad_works_lt/databricks/notebooks/bronze/load_table.py
  ad_works_lt/databricks/notebooks/bronze/raw_load.py
  requirements.txt
Due: ci/ad_works_lt.yml

sales order cluster by
  ad_works_lt/databricks/notebooks/bronze/etl/_load.py
Due: ci/ad_works_lt.yml

catalog migration
  ad_works_lt/databricks/notebooks/bronze/etl/_load.py
  ad_works_lt/databricks/notebooks/bronze/etl/_load_audit.py
  ad_works_lt/databricks/notebooks/bronze/setup.py
  ad_works_lt/logging.yaml
Due: ci/ad_works_lt.yml

catalog migration
  ad_works/databricks/notebooks/bronze/etl/_load.py
  ad_works/databricks/notebooks/bronze/etl/_load_audit.py
  ad_works/databricks/notebooks/bronze/load_table.py
  ad_works/databricks/notebooks/bronze/raw_load.py
  ad_works_dw/databricks/notebooks/bronze/etl/_load.py
  ad_works_dw/databricks/notebooks/bronze/etl/_load_audit.py
  ad_works_dw/databricks/notebooks/bronze/load_table.py
  ad_works_dw/databricks/notebooks/bronze/raw_load.py
  ad_works_lt/databricks/notebooks/bronze/etl/_load.py
  ad_works_lt/databricks/notebooks/bronze/load_table.py
Due: ci/ad_works.yml, ci/ad_works_dw.yml, ci/ad_works_lt.yml

catalog migration
  ad_works/sql/control_ad_works/raw_audit.sql
  ad_works_dw/sql/control_ad_works_dw/raw_audit.sql
Due: ci/ad_works.yml, ci/ad_works_dw.yml

catalog migration
  ad_works/pipelines/tables.xlsx
  ad_works/pipelines/tables.yaml
Due: ci/ad_works.yml

catalog migration
  ad_works_dw/pipelines/tables.xlsx
  ad_works_dw/pipelines/tables.yaml
Due: ci/ad_works_dw.yml

catalog migration
  ad_works/databricks/notebooks/clear_down.py
  ad_works/databricks/notebooks/setup.py
Due: ci/ad_works.yml

catalog migration
  ad_works/databricks/notebooks/bronze/create_audit_tables.py
  ad_works/databricks/notebooks/bronze/create_schema.py
  ad_works_dw/databricks/notebooks/bronze/create_audit_tables.py
  ad_works_dw/databricks/notebooks/bronze/create_schema.py
  ad_works_dw/pipelines/autoloader.yaml
  ad_works_dw/pipelines/batch.yaml
  ad_works_lt/databricks/notebooks/load_dlt.py
  ad_works_lt/databricks/notebooks/silver/create_audit_tables.py
  ad_works_lt/databricks/notebooks/silver/load_base.py
  ad_works_lt/databricks/notebooks/silver/load_table.py
  ad_works_lt/pipelines/autoloader_dlt.yaml
  header_footer/pipelines/autoloader.yaml
Due: ci/ad_works.yml, ci/ad_works_dw.yml, ci/ad_works_lt.yml, ci/header_footer.yml

catalog migration
  header_footer/pipelines/tables.xlsx
  header_footer/pipelines/tables.yaml
Due: ci/header_footer.yml

removing location
  ad_works/sql/control_ad_works/raw_audit.sql
Due: ci/ad_works.yml

bundle pattern
  cp_header_footer/README.md
  cp_header_footer/bundle_config_schema.json
  cp_header_footer/data/landing/customer_details/customer_details_1/20230101/customer_details_1-20230101.csv
  cp_header_footer/data/landing/customer_details/customer_details_1/20230102/customer_details_1-20230102.csv
  cp_header_footer/data/landing/customer_details/customer_details_1/20230103/customer_details_1-20230103.csv
  cp_header_footer/data/landing/customer_details/customer_details_2/20230101/customer_details_2-20230101.csv
  cp_header_footer/data/landing/customer_details/customer_details_2/20230102/customer_details_2-20230102.csv
  cp_header_footer/data/landing/customer_details/customer_details_2/20230103/customer_details_2-20230103.csv
  cp_header_footer/data/landing/customer_details/customer_preferences/20230101/customer_preferences-20230101.csv
  cp_header_footer/data/landing/customer_details/customer_preferences/20230102/customer_preferences-20230102.csv
  cp_header_footer/data/landing/customer_details/customer_preferences/20230103/customer_preferences-20230103.csv
  cp_header_footer/data/landing/customer_details/stock.csv
  cp_header_footer/databricks.yml
  cp_header_footer/fixtures/.gitkeep
  cp_header_footer/logging.yaml
  cp_header_footer/pytest.ini
  cp_header_footer/requirements-dev.txt
  cp_header_footer/resources/cp_header_footer_job.yml
  cp_header_footer/schema/customer_details_1.yaml
  cp_header_footer/schema/customer_details_2.yaml
  cp_header_footer/schema/customer_preferences.yaml
  cp_header_footer/scratch/README.md
  cp_header_footer/scratch/exploration.ipynb
  cp_header_footer/setup.py
  cp_header_footer/sql/base_audit.sql
  cp_header_footer/sql/header_footer.sql
  cp_header_footer/sql/raw_audit.sql
  cp_header_footer/src/cp_header_footer/__init__.py
  cp_header_footer/src/cp_header_footer/_load_type.py
  cp_header_footer/src/cp_header_footer/_load_type_factory.py
  cp_header_footer/src/cp_header_footer/_logging.py
  cp_header_footer/src/cp_header_footer/_table.py
  cp_header_footer/src/cp_header_footer/_table_factory.py
  cp_header_footer/src/load_table.ipynb
  cp_header_footer/tests/main_test.py
  cp_header_footer/typings/__builtins__.pyi
Due: none

converted to json loagging configuration
  cp_header_footer/logging.json
  cp_header_footer/logging.yaml
  cp_header_footer/resources/cp_header_footer_job.yml
  cp_header_footer/src/cp_header_footer/_logging.py
Due: none

converted to json loagging configuration
  cp_header_footer/src/cp_header_footer/_load_type.py
  cp_header_footer/src/cp_header_footer/_table.py
Due: none

converted to json loagging configuration
  cp_header_footer/src/cp_header_footer/_table.py
  cp_header_footer/src/cp_header_footer/_table_factory.py
Due: none

copy into
  cp_header_footer/src/cp_header_footer/_table.py
Due: none

copy into
  cp_header_footer/src/cp_header_footer/_logging.py
  cp_header_footer/src/cp_header_footer/_table.py
  cp_header_footer/src/load_table.ipynb
Due: none

copy into
  cp_header_footer/src/cp_header_footer/_table.py
  cp_header_footer/src/load_table.ipynb
Due: none

jar
  graphframes-0.8.4-spark3.5-s_2.12.jar
Due: none

Path conditions:
  ci/ad_works.yml: any of: ad_works
  ci/ad_works_dw.yml: any of: ad_works_dw
  ci/ad_works_lt.yml: any of: ad_works_lt
  ci/header_footer.yml: any of: header_footer
  ci/header_footer_uc copy.yml: any of: header_footer_uc
  ci/ooo_loading.yml: any of: ooo_loading
